input.text {
  background-color: #ececec;
  border: 1px solid black;
  font-size: medium;
  font-family: 'Noto Sans JP', sans-serif;
  text-overflow: ellipsis;
  text-align: left;
  width: 100px;
  margin: 2px;
  padding: 0px;
}

input.text:hover, input.text:disabled {
  background-color: #d6d6d6;
}

p.text {
  font-size: medium;
  text-overflow: ellipsis;
  text-align: left;
  width: fit-content;
  margin: 0px 2px 0px 2px;
  padding: 0px;
}

@media screen and (max-width: 450px) {
  input.text, p.text {
    font-size: small;
  }

  input.text {
    width: 80px;
  }
}